################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.cache/v/cache
/.idea
/.vs
/build
/__pycache__
